.spinner {
  width: 4em;
  height: 4em;
  border: 0.5em solid rgba(213, 213, 213, 0.608);
  border-left-color: #f56040;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
